<?xml version="1.0" encoding="UTF-8"?>
<suite name="KreditzAutomationSuite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="com.harshitbhardwaj.listener.AnnotationTransformer"/>
        <listener class-name="com.harshitbhardwaj.listener.AllureTestLifeCycleListener"/>
    </listeners>
    <test name="HomePageTests">
        <classes>
            <class name="com.harshitbhardwaj.tests.HomePageTests"/>
        </classes>
    </test>
    <test name="ConsumerProductPageTests">
        <classes>
            <class name="com.harshitbhardwaj.tests.ConsumerProductPageTests"/>
        </classes>
    </test>
</suite>